{% extends 'threads/base.html' %}
{% block content %}
{% load static %}
    <div class="d-flex flex-row justify-content-center">
        <article id="base-tweet" data-conv="{{ id }}">
            <div class="base-metadata">
                <a id="top-username"
                   class="mr-2"
                   href="https://twitter.com/{{ username }}"
                   target="_blank">{{ name }}</a>
            </div>
            <div class="base-content">
                <div class="base-text">
                    <p>{{ text }}</p>
                </div>
                <div id="base-media" data-index="0" data-max="{{ url_count }}">
                {% for img in urls %}
                    <div class="mySlides">
                        <img class="cover" src="{{img}}" onclick="openPicture()" alt="">
                    </div>
                {% endfor %}                    
                    <a class="prev" onclick="slideLeft()">❮</a>
                    <a class="next" onclick="slideRight()">❯</a>

                </div>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closePicture()">&times;</span>
                        <div id="modal-media" data-index="0" data-max="{{ url_count }}">
                        {% for img in urls %}
                            <div class="mySlides">
                                <img class="contain" src="{{img}}" alt="">
                            </div>
                        {% endfor %}
                            <a class="prev" onclick="slideLeft()">❮</a>
                            <a class="next" onclick="slideRight()">❯</a>            
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-muted">
                <a href="https://twitter.com/{{ username }}/status/{{ id }}"
                   target="_blank">{{ date }}</a>
            </div>
        </article>
    </div>
    <div id="separador"></div>
    <div class="container mw-100">
        <div id="lv-0" class="nivel" style="display: none">
            <div class="fila"></div>
        </div>
        <div id="lv-1" class="nivel">
            <div class="fila"></div>
        </div>
    </div>
    <div id="espacio"></div>
    <style id="css"></style>
    <script type="text/javascript">
        $(document).ready(function () {
            storeUrls("{% get_static_prefix %}", "{% url 'open' %}", "{% url 'more' %}", "{% url 'close' %}");
            const articulo = $('<article/>', {
                'data-id': '{{id}}'
            });
            $('#lv-0 .fila').append(articulo);
            openThread(articulo);
            const css = document.getElementById('css');
            showPics();
        });
    </script>
{% endblock content %}
