:root {
  --article-color: rgb(174, 216, 217);
  --trans-article-color: rgba(174, 216, 217, 0.74);
  --article-hover-color: rgb(226 233 255);
  --article-locked-color: rgb(106 138 139);
  --scrollbar-width: 20px;
  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: #b9a6df8a;
  --scrollbar-thumb-hover-color: #b9a6dfc2;
  --article-scrollbar-thumb-color: #5a9fab94;
  --article-scrollbar-thumb-hover-color: #39788394;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

a {
  color: #de3ce3;
}

a:hover {
  color: #c43fc8;
}

#nav-space {
  width: 100%;
  height: 75px;
}

.topnav {
  position: absolute;
  z-index: 2;
  top: 0px;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #362c5b;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav li {
  float: left;
}

.topnav .r-nav {
  float: right;
}

.topnav img {
  width: 25px;
  height: 25px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(102%) contrast(101%);
}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li a:hover {
  background-color: #793fce;
}

.home-container {
  position: absolute;
  width: 725px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-height: 80px;
}

.home-container p {
  color: #8e4343;
}

.home-container form label {
  font-weight: 500;
}

.home-container form input[type=url] {
  margin-left: 8px;
  height: 50px;
  width: 500px;
  border: 2px solid #362c5b;
  border-radius: 27px;
}

.home-container form input[type=url]:hover {
  border-color: #24a3a3;
}

.home-container form input[type=submit] {
  margin-left: 12px;
}

.error-message {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  margin-top: 25px;
  font-size: larger;
}

.error-message p {
  color: red;
  position: relative;
  text-align: center;
}

#hints {
  position: relative;
  float: right;
  right: 2%;
  width: 500px;
  margin: 0;
  background: #d2ebf0;
  padding: 1em;
  border-radius: 1em;
  border: 3px dotted;
}

#hints figcaption,
#hints blockquote {
  margin: 1em;
}

blockquote li {
  margin-bottom: 5px;
}

#base-tweet {
  background: var(--article-color);
  padding: 10px 20px;
  border: 5px solid rgb(154, 225, 226);
  border-radius: 3px;
  /* min-width: 450px; */
  min-width: 560px;
  /* min-height: 450px; */
  min-height: 150px;
  max-width: 700px;
  cursor: default;
}

#top-username {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid rgb(90, 153, 155);
  color: #2d5fa7;
  text-decoration: none;
  font-size: x-large;
}

.base-content {
  margin-top: 10px;
}

.base-text {
  overflow: auto;
}

.base-text p {
  font-weight: 400;
  font-size: larger;
  max-height: 145px;
}

.cover {
  object-fit: cover;
  object-position: left top;
}

.contain {
  object-fit: contain;
  object-position: center;
}

#base-media, #sh-modal-media {
  position: relative;
  margin: auto;
}

#base-media {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

#sh-modal-media {
  width: 90%;
  height: 90%;
}

.my-slide {
  display: none;
  width: inherit;
  height: inherit;
}

#sh-modal-media .my-slide {
  width: 100%;
  height: 100%;
}

#base-media img {
  padding: 8px 0;
  width: inherit;
  height: inherit;
  cursor: pointer;
  border-radius: 22px;
}

#sh-modal-media img {
  padding: 8px 0;
  width: inherit;
  height: inherit;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border: 2px solid white;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#sh-modal-media .prev, #sh-modal-media .next {
  background-color: #1e363c;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: rgba(113, 60, 179, 0.74);
  border-color: var(--article-color);
  background-color: var(--trans-article-color);
}

#sh-modal-media .prev:hover, #sh-modal-media .next:hover {
  color: white;
  background-color: #162528;
}

/* The Modal (background) */
#slideshow-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#sh-modal-content {
  background-color: #293c40cc;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 97%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #eae4e4;
  text-decoration: none;
  cursor: pointer;
}

.text-muted {
  text-align: right;
}

.text-muted a {
  color: #2d5fa7;
  text-decoration: none;
}

#separador {
  width: 100%;
  height: 60px;
}

.container {
  position: relative;
}

.fila {
  overflow: auto;
  /* overflow-y: hidden; tal vez activar mas tarde*/
  white-space: nowrap;
  height: 270px;
  padding-top: 15px;
  padding-left: 15px;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

.popups {
  position: absolute;
  width: 100%;
  height: 230px;
}

.content-section {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  white-space: normal;
  background: var(--article-color);
  padding: 10px 20px;
  border: 5px solid rgb(154, 225, 226);
  border-radius: 3px;
  width: 400px;
  height: 90%;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content-section.focused {
  background: var(--article-hover-color);
  border: 5px solid rgb(177 198 225);
  -webkit-transform: translateY(-50%) scale(1.07);
  -moz-transform: translateY(-50%) scale(1.07);
  transform: translateY(-50%) scale(1.07);
}

.content-section.active {
  font-weight: 500;
}

.article-metadata {
  position: relative;
  height: 13%;
  overflow: hidden;
  word-break: break-all;
}

/* con esto el hover sobre metadata activa el hover sobre support */
/* lo dejo por que casi lo uso pero esta bueno saberlo a futuro */
/* .article-metadata:hover .support, */

.support {
  position: absolute;
  visibility: hidden;
  width: 350px;
  background-color: var(--article-hover-color);
}

.user-name {
  position: absolute;
  font-size: large;
  cursor: default;
  z-index: 10;  /*aparentemente opcional*/
}

.article-content {
  white-space: pre-line;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: auto;
  height: 69%;
  font-size: larger;
  font-weight: 400;
  scrollbar-color: var(--article-scrollbar-thumb-color) transparent;
}

.metrics {
  font-weight: 500;
  font-family: 'Courier New', monospace;
}

.metrics img {
  width: 25px;
  height: 25px;
}

.met-likes img {
  filter: invert(52%) sepia(67%) saturate(5437%) hue-rotate(331deg) brightness(101%) contrast(102%);
}

.met-replies img {
  filter: invert(52%) sepia(67%) saturate(5217%) hue-rotate(204deg) brightness(101%) contrast(102%);
}

.met-retweets img {
  filter: invert(52%) sepia(67%) saturate(5437%) hue-rotate(438deg) brightness(101%) contrast(102%);
}

.images-popup {
  display: none;
  position: absolute;
  z-index: 10;
  top: -12px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 350px;
  background-color: #ffffea;
  border: 2px solid black;
  border-radius: 15px;
}

.images-popup::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 9px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(180deg);
}

.images-popup img {
  display: none;
  max-width: 90%;
  max-height: 90%;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
}

.images-popup button {
  border: none;
  background: transparent;
  color: transparent;
}

.locked-chat {
  overflow: hidden;
}

.locked-chat article:not(.active) {
  background: var(--article-locked-color);
  border-color: rgb(31 90 90);
  cursor: default;
}

.locked-chat .load-more {
  cursor: default;
  background-color: #43456e;
}

.locked-chat .load-more:hover {
  background-color: #43456e;
}

.load-more {
  height: 90%;
  width: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #9c9ed9;
  border-color: #9c9ed9;
}

.load-more:hover {
  color: inherit;
  background-color: #bcbfef;
  border-color: #bcbfef;
}

.load-more img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(102%) contrast(101%);
}

.modal-content {
  background-color: rgb(234, 155, 155);
}

.modal-header {
  border-bottom: var(--bs-modal-header-border-width) solid black;
}

.modal-footer {
  border-top: var(--bs-modal-footer-border-width) solid black;
}

.err-close-btn {
  background-color: #661a48;
}

.err-close-btn:hover {
  background-color: #501137;
}

#espacio {
  width: 100%;
  height: 400px;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

.article-content::-webkit-scrollbar-thumb {
  background-color: var(--article-scrollbar-thumb-color);
}

.article-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--article-scrollbar-thumb-hover-color);
}
