body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
    
  .content-section {
    background: rgb(174, 216, 217);
    padding: 10px 20px;
    border: 5px solid rgb(154, 225, 226);
    border-radius: 3px;
    width: 750px;
  }
    
  .article-content {
    white-space: pre-line;
    margin-top: 10px;
  }

  #top-username {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgb(90, 153, 155);
    color: #2d5fa7;
    text-decoration: none;
  }

  #username:hover {
    color: #617ea7;
  }

  .text-muted a {
    color: #2d5fa7;
    text-decoration: none;
  }

  #separador {
    width: 100px;
    height: 60px;
  }
        
  .container .row {
    height: 250px;
  }

  .container .row .col{
    border: 1px solid black;
  }

  .load-more {
    height: 30px;
    width: 30px;
  }
