{% extends "threads/base.html" %}
{% block content %}
    <div class="home-container">
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Cargar">
        </form>
        <div class="error-message">
            <p>{{ error }}</p>
        </div>
        <p>Inserte el link de un tweet <strong>raiz</strong>.
            Un tweet raiz es un tweet que comienza una conversacion, y no es respuesta de otro tweet.</p>
        <p>Por limitaciones de la <a href="https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-recent" target="_blank">API</a> solo se pueden traer las conversaciones de un tweet no mas antiguo que 7 dias.</p>
    </div>
{% endblock content %}
