{% extends 'threads/tweet.html' %}
{% block thread %}
    <div class="container w-100">
        <div id="lvl-1" class="row">
            {% for tw in tweets %}
                <div class="col">
                    <article class="content-section">
                        <div class="article-metadata">
                            {% comment %} aca hay que mostrar el nombre pero por ahora muestro el id {% endcomment %}
                            {% comment %} QUITAR EL ID porque estoy en un loop y los IDs son unicos se supone {% endcomment %}
                            <p id="username" class="mr-2">{{ tw.id }}</p>
                        </div>
                        <p class="article-content">{{ tw.text }}</p>
                    </article>
                </div>
            {% endfor %}
            {% comment %} aca esta el boton que carga mas tweets en la conversacion {% endcomment %}
            <a class="load-more btn btn-primary btn-lg" id="more" href="#"></a>
        </div>
    </div>
    <script type="text/javascript">
        $('#more').click(function(){
            const tok = '{{ token }}';
            const conv = '{{ base.id }}';
            $.ajax(
                {
                    type: 'GET',
                    url: '{% url "more" %}',
                    data:{
                        token: tok,
                        conv_id: conv
                    },
                    success: function(res){
                        const row = $('#lvl-1');
                        const items = [];
                        console.log(res);
                        for (let i = 0; i<res.data.length; i++) {
                            const parrafo_meta = $( '<p/>', {
                                id: 'username',
                                'class': 'mr-2',
                                html: res.data[i].id
                            } );
                            const metadata = $( '<div/>', {
                                'class': 'article-metadata',
                                html: parrafo_meta
                            } );
                            const parrafo_cont = $( '<p/>', {
                                'class': 'article-content',
                                html: res.data[i].text
                            } );
                            const articulo = $( '<article/>', {
                                'class': 'content-section',
                                html: [metadata, parrafo_cont]
                            } );
                            const reply = $( '<div/>', {
                                'class': 'col',
                                html: articulo
                            } );
                            items.push(reply);
                        }
                        row.append(items);
                    }
                }
            )
        });
    </script>
    {% comment %} <div class="article-metadata">
            <a class="username mr-2" href="">icono de enlace</a>
    </div> {% endcomment %}
{% endblock thread %}
