{% extends 'threads/base.html' %}
{% block content %}
    <div class="d-flex flex-row justify-content-center">
        <article id="base-tweet" data-conv="{{ id }}" class="w-25">
            <div class="base-metadata">
                <a id="top-username"
                   class="mr-2"
                   href="https://twitter.com/{{ username }}"
                   target="_blank">{{ name }}</a>
            </div>
            <p class="base-content">{{ text }}</p>
            <div class="text-muted">
                <a href="https://twitter.com/{{ username }}/status/{{ id }}"
                   target="_blank">{{ date }}</a>
            </div>
        </article>
    </div>
    <div id="separador"></div>
    <div id="cont-threads" class="container mw-100">
        <div id="lv-0"></div>
        <div id="lv-1"></div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            storeUrls("{% get_media_prefix %}", "{% url 'more' %}", "{% url 'open' %}");
            art = $('<article/>', {
                'data-id': '{{id}}',
                'data-user': '{{aux.user_id}}'
            });
            $('#lv-0').append(art);
            openThread(art);
        });
    </script>
{% endblock content %}
