{% extends 'threads/base.html' %}
{% block content %}
    <div class="d-flex flex-row justify-content-center">
        <article class="content-section">
            <div class="article-metadata">
                <a id="top-username"
                   class="mr-2"
                   href="https://twitter.com/{{ base.username }}">{{ base.name }}</a>
            </div>
            <p class="article-content">{{ base.text }}</p>
            <small class="text-muted">
                <a href="https://twitter.com/{{ base.username }}/status/{{ base.id }}">{{ base.date }}</a>
            </small>
        </article>
    </div>
    <div id="separador"></div>
    <a href="{% url 'thread' base.id %}">Cargar respuestas</a>
    {% block thread %}{% endblock thread %}
{% endblock content %}
